.cart__container {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 5%;
}

.products__list--check {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  height: 100%;
  margin-bottom: 10px;
  border-right: solid 2px;
}

.products__info--check {
  display: flex;
  justify-content: space-between;
}

.noproducts {
  width: 60%;
  text-align: center;
  height: 78vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.noproducts__img {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .noproducts {
    width: 90vh;
    text-align: center;
    width: 80%;
  }
}

@media screen and (max-width: 790px) {
  .cart__container {
    flex-direction: column;
  }
  .products__list--check {
    border-right: inherit;
    border-bottom: solid 2px;
    width: 100%;
  }
  .noproducts {
    height: 90vh;
    width: 70%;
    text-align: center;
  }
  .noproducts__img {
    width: 85%;
  }
}
@media screen and (max-width: 420px) {
  .noproducts {
    height: 100vh;
    width: 70%;
    text-align: center;
  }
  .noproducts__img {
    width: 85%;
  }
}
