.container__cart {
  width: 60px;
  top: 10%;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--color-bg-variant);
}

.bubble__counter {
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  position: absolute;
  top: -1%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
