.imgProperty {
  width: 5%;
  height: 5%;
}

.navbarContainer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  background-color: #141414;
}
.listContainer {
  display: flex;
  flex-direction: row;
  gap: 30%;
}

li {
  margin-top: 9%;
  color: white;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
