.imgProperty {
  width: 5%;
  height: 5%;
}

.navbarContainer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg-bar);
}

.navbarItem {
  list-style: none;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 2px 2px 2px 2px grey;
  padding: 7px 10px;
  border-radius: 10px;
  text-align: center;
}
.listcontainer {
  padding: 0;
}
ul {
  justify-self: center;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-font);
}
/*====== Medium Devices ======*/
@media screen and (max-width: 900px) {
  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
