.imgProperty {
  width: 5%;
  height: 5%;
}

.navbarContainer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  background-color: #141414;
}
.listContainer {
  display: flex;
  flex-direction: row;
  gap: 30%;
}

.navbarItem {
  list-style: none;
  cursor: pointer;
  font-size: 1.2rem;
  /* box-shadow: 2px 2px 2px 2px grey; */
  padding: 7px 10px;
  border-radius: 10px;
  background-color: #e1d4c7;
  text-align: center;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
