.containerProperty {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
  padding: 2rem 0rem;
  gap: 1%;
}

/*======medium mobile======*/

@media screen and (max-width: 1400px) {
  .containerProperty {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .containerProperty {
    width: 95%;
  }
}
